<!DOCTYPE html>
<html>
    <body>
        <ul>
            <li><b>Cisco Tools</b></li>
                <ul>
                    <li><b>Top Talkers</b> shows the Netflow-reported top talker conversations from the routers.  It updates every five minutes.</li>
                    <li><b>Interface Statistics</b> allows you to choose whether you want to see Load statistics or Error statistics.</li>
                    <li><b>Run an ICMP Command</b> allows you to ping or traceroute to a specific IP address.</li>
                    <li><b>Show Route</b> allows you to query a router of your choosing to see where an IP / IPv6 address is routed.</li>
                    <li><b>Show ARP</b> allows you to run an ARP query on an IP / IPv6 or MAC, and clear the entry as needed.</li>
                    <li><b>VLAN Trunking Change</b> allows selected people to make trunking changes on Cisco routers.</li>
                    <li><b>Show Processes</b> allows you to view the full process list, or the active processes only, on a selected router.</li>
                    <li><b>Show ACL</b> shows you all ACLs on the selected router.  You may click an ACL to see its contents.</li>
                    <li><b>Show Logs</b> allows you to view the logs of a selected router.</li>
                </ul>
            <li><b>F5 Tools</b></li>
                <ul>
                    <li><b>Show ARP</b> allows you to run an ARP query on an IP or MAC, and clear the entry as needed.</li>
                </ul>
            <li><b>VPN Tools</b></li>
                <ul>
                    <li><b>Session Stats</b> shows you the information on three types of sessions.  Click on a type to get more info about its active connections.</li>
                    <li><b>ITS Admin VPN Sessions</b> allows you to check the session statistics for a specific mini-VPN.</li>
                </ul>
            <li><b>Firewall Tools</b></li>
                <ul>
                    <li><b>Show ARP</b> allows you to run an ARP query on an IP or MAC.</li>
                    <li><b>Run an ICMP Command</b> allows you to ping or traceroute to a specific IP address.</li>
                    <li><b>Show Interfaces</b> allows you to see the status of all interfaces on a firewall, or see statistics for a specific interface.</li>
                    <li><b>Show Route</b> allows you to query the firewall for routing information for a specific IP address.</li>
                    <li><b>Show Log</b> allows you to view the last 100 log entries for a JunOS firewall.</li>
                </ul>
            <li><b>Tipping Point Tools</b></li>
                <ul>
                    <li><b>Show IP Blocks</b> allows you to query the Tipping Point Core Controller to see if a specific IP is being blocked there.</li>
                    <li><b>Show DNS Blocks</b> allows you to query the Tipping Points to see if a specific DNS name is being blocked there.</li>
                    </ul>
            <li><b>DHCP Tools</b></li>
                <ul>
                    <li><b>DHCP Scope Query</b> allows you to check the DHCP scope configured for a given VLAN.</b></li>
            </ul>
        </ul>
        <hr>
        <p>Need further explanation?  Download and read the <a href="RouterProxy.doc">Help document</a>.</p>
    </body>
</html>