<!DOCTYPE html>
<html>
    <head><meta http-equiv=refresh content=300></head>
    <body>
        <b>Cisco Tools</b><br>
        <ul>
        <!--<li><a href="cgi-bin/top-talkers.cgi" target="content">Top Talkers</a></li>-->
            <li><a href="show-int.html" target="content">Interface Statistics</a></li>
            <li><a href="icmp.html" target="content">Run an ICMP Command</a></li>
            <li>Show Route
                <ul>
                    <li><a href="show-route.html" target="content">IPv4</a></li>
                    <li><a href="show-ipv6-route.html" target="content">IPv6</a></li>
                </ul>
            </li>
            <li>Show ARP
                <ul>
                    <li><a href="show-arp.html" target="content">IPv4</a></li>
                    <li><a href="show-ipv6-arp.html" target="content">IPv6</a></li>
                </ul>
            </li>
            <li><a href="vlan-change.html" target="content">VLAN Trunking Change</a></li>
            <li><a href="show-vlan-id.html" target="content">Find L2 VLAN</a></li>
            <li><a href="process.html" target="content">Show Processes</a></li>
            <li><a href="show-acl.html" target="content">Show ACL</a></li>
            <li><a href="log.html" target="content">Show Logs</a></li>
        </ul>

            <br><b>VPN Tools</b><br>
        <ul>
                <li><a href="cgi-bin/vpn-sess.cgi" target="content">Session Stats</a></li>
                <!--<li><a href="cgi-bin/vpn-UNCCampus.cgi" target="content">UNCCampus ACL</a></li>-->
        </ul>

        <br><b>Firewall Tools</b><br>
        <ul>
            <li><a href="fw-show-arp.html" target="content">Show ARP</a></li>
            <li><a href="fw-show-int.html" target="content">Show Interfaces</a></li>
            <li><a href="cgi-bin/palo-int-count.cgi" target="content">Interface Counts</a></li>
            <li><a href="fw-host-decom.html" target="content">Decommission Search</a></li>
            <!--<li><a href="fw-show-route.html" target="content">Show Route</a></li>-->
            <!--
            #For some reason, the above link doesn't work reliably.  Using the Cisco version and following links is much more effective.
            -->
        </ul>

        <br><b>Blocked IP Query Tools</b><br>
        <ul>
            <li><a href="tp-check-blocks.html" target="content">Show IP Blocks</a></li>
            <li><a href="tp-check-dns-blocks.html" target="content">Show DNS Blocks</a></li>
        </ul>

        <br><b>F5 Tools</b><br>
        <ul>
            <li><a href="f5-show-arp.html" target="content">Show ARP</a></li>
            <!-- this shit doesn't work, I hate the F5s
            <li><a href="f5-show-vips.html" target="content">Show VIP Information</a></li>
            <li><a href="f5-show-log.html" target="content">Show Logs</a></li>
            -->
        </ul>

        <br><b>DHCP Tools</b><br>
        <ul>
            <li><a href="show-dhcp-scope.html" target="content">DHCP Scope Query</a></li>
        </ul>

        <br><a href="https://rp.unc.edu/Shibboleth.sso/Logout?return=https://sso.unc.edu/idp/logout.jsp">Logout</a>

    </body>
</html>
